/* Footer.module.css */
.footer {
  background: linear-gradient(90deg, #a6aec1, #ededf2);
  color: black;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  
}


.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .footerContent {
    flex-direction: row;
    justify-content: space-between;
  }
}

.infoSection, .socialSection {
  text-align: left;
  flex: 1;
}

.infoSection h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.infoSection p, .socialSection p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}

.socialSection {
  align-items: flex-end; /* Alinha os itens à direita para telas maiores */
  text-align: right; /* Alinha o texto à direita */
}

.socialIcons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.socialIcons a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.socialIcons a:hover {
  transform: translateY(-3px);
}

.copyRight {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
